<service-group>
  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_google_mdt._tcp</type>
    <port>22</port>
  </service>
</service-group>
